main {
    background-color: pink;
}

footer {
    background-color: lightblue;
}

header {
    background-color: lightgreen;
}

ul {
    background-color: lightskyblue;
}

h2 {
    color: lightgoldenrodyellow
}